body {
    /* color: blue; */
    color: rgba(0, 0, 0, 0.8);
    font-family: Verdana, sans-serif;
    /* margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px; */
    /* margin: 0px; */
    margin: 0;
}

header {
  /* background-color: pink; */
  text-align: right;
  padding: 10px 10px 150px 10px;
  background-image: url(../img/header.png);
  height: 240px;
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 60px;
}

header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
header li {
  display: inline-block;
  /* padding-top: 4;
  padding-bottom:4;
  padding-right: 8;
  padding-left: 8; */
  padding: 4px 8px;
  font-size: 15px;
}
header li > a {
  text-decoration: none;
  color: black;
}
header li > a:hover {
  color: royalblue;
}
section {
  text-align: center;
}
/* section h1  {
  font-weight: normal;
  margin-bottom: 8px;
}
section h2  {
  font-weight: normal;
} */
section h1,
section h2 {
  font-weight: normal;
  margin-bottom: 8px;
}

section p {
  margin-top: 0px;
}

/* section > img とすると index.htmlのcssはどのイメージタグか認識できないのでclass属性をきめてあげて特定できるようにしてあげる */
.icon {
  /* border-radius: 70px; 辺140の半分 */
  border-radius: 50%;
  /* border-color: pink;
  border-width: 5px;
  border-style: solid; */
  border: white 5px solid;
  /* box-shadow: x y burl color; */
  box-shadow: 0 0 10px gray;
}

.introduse {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.works {
  width: 400px;
  margin: 60px 0px 60px 0;
  border-bottom: 1px solid gray;
}

.works section > h2 {
  margin-top: 10px;
}

.works h2,
.works p {
  text-align: left;
}

.works > section {
  margin-bottom: 40px;
}
