@charset "utf-8";

* {
    box-sizing: border-box;
    /* box-sizing: content-box; */
}

/* 210815 ====================================== */


html {
    font-size: 20px;
}

body {
    font-size: 15px;
}

section {
    font-size: 10px;
}

h1{
    font-size: 2em;
}

h1.rem {
    font-size: 1.5rem;
}

p.confirm {
    font-size: 20px;
}

ul {
    font-size: 10px;
}
li {
    font-size: 0.8em;
}



/* ============================================ */

ul.gnav-list-1 {
    margin: 0;
    background: #1b9aaa;
    padding: 0;
    text-align: center;
}

ul.gnav-list-1 li {
    display: inline-block;
}

ul.gnav-list-1 li a {
    display: block;
    color: white;
    padding: 1em;
    font-size: 12px;
    text-decoration: none;
}

ul.gnav-list-1 li a::first-line {
    font-size: 16px;
    font-weight: bold;
}

ul.gnav-list-1 li a:hover {
    background: #14727e;
}
