@charset "utf-8";
*{
    color: black;
}

section {
    background-color: #3eb6bd;
}

h1 {
    color: white;
}

em {
    font-weight: bold;
}

img {
    width: 200px;
}

.red {
    color: red;
}
video {
    width: 200px;
}

p {
    background: #3eb6bd;
    width: 300px;
    height: 600px;
}

figure {
    background: black;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
figcaption {
    color: white;
}

*{ box-sizing: border-box;}

ul.gnav-list-1 {
    background: #1b9aaa;
    padding: 0;
    text-align: center;
}

ul.gnav-list-1 li {
    display: inline-block;
}

ul.gnav-list-1 li a {
    display: block;
    color: white;
    padding: 1em;
    font-size: 12px;
    text-decoration: none;
}

ul.gnav-list-1 li a::first-line {
    font-size: 16px;
    font-weight: bold;
}

ul.gnav-list-1 li a:hover {
    background: #14727e;
}